<% include ./partials/header %>


    <div class="content">
      <form id="submitBeer">
          <input class="form-control" type="text" name="beer" id="beer" placeholder="Enter Beer">
          <br>
          <input type="submit" value="Find Match">
      </form>
        <ul id="matches">
          <li></li>
        </ul>
        <br>
          <br>
          <input type="submit" id="randomize" value="Randomize">
          <br>
          <br>
        <ul id="randomBeer">
          <li id="beerName"></li>
          <li id="beerDesc"></li>
          <li id="beerPic"></li>
        </ul>
    </div>
    <div class="hidden">
      <p id="gURL"><%= gURL %></p>
      <p id="gKey"><%= gKey %></p>
      <p id="bURL"><%= bURL %></p>
      <p id="bKey"><%= bKey %></p>
      <p id="sURL"><%= sURL %></p>
      <p id="sKey"><%= sKey %></p>
    </div>



<script>

</script>
<% include ./partials/footer %>
