<% include ./partials/header %>



    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
    <form id="submitBeer">
        <input type="text" name="beer" id="beer" placeholder="Enter Beer">
        <input type="submit" value="Find Match">
    </form>
    </div>
    <div>
      <ul>
        <li id="matches"></li>
      </ul>
    </div>
    <div class="hidden">
      <p id="gURL"><%= gURL %></p>
      <p id="gKey"><%= gKey %></p>
      <p id="bURL"><%= bURL %></p>
      <p id="bKey"><%= bKey %></p>
      <p id="sURL"><%= sURL %></p>
      <p id="sKey"><%= sKey %></p>
    </div>
<!-- <div id="map"></div> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<script>
  // $.get("http://localhost:3000", function(response){
  //   console.log("success!");
  //   document.write(JSON.stringify(response));
  // })
</script>
<% include ./partials/footer %>
